*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FCF7F7;
}
#container{
	max-width: 960px;
	margin: 0px auto;
	height: auto;
}
header{
	background-color: black;

}
nav{
	display: flex;
	justify-content: space-between;
	justify-items: center;
}
#main-menu{
	display: flex;
	list-style: none;
}
#main-menu>li{
	position: relative;
}
#main-menu>li>a{
	color: white;
	font-family: arial;
	text-transform: uppercase;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}
/*Điện thoại*/
#main-menu div#dienthoai{
	background-color: #FCF7F7;
	position: absolute;
	display: none;

}
#main-menu li:hover #dienthoai{
	display: block;
}
#dienthoai{
	width: 585px;
	height: 202px;
	position: absolute;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	z-index: 1;
}
@keyframes ex {
	from {top: 0px}
	to {top: 40px}
}
#dienthoai ul {
	list-style: none;
}
#dienthoai ul li a{
	text-decoration: none;	
	font-family: arial;
}
#dienthoai>div{		
	padding: 12px 12px;
	display: block;
	float: left;
}
#dienthoai #name{
	width: 355px;
	height: 178px;
	border-right: 1px solid black;
}
#dienthoai #coin{
	width: 180px;
	padding-left: 12px;
}
#dienthoai h3{
	font-family: nunito;
	margin: 4px auto;
}
#dienthoai ul#sub-menus li{
	display: inline-flex;
	margin: auto;
	width: 115px;
	height: 30px;	
}
#dienthoai ul#sub-menus li:hover a{
	color: #B1AFAF;
}
/*laptop*/
#main-menu div#laptop{
	position: absolute;
	display: none;
}
#main-menu li:hover #laptop{
	background-color: #FCF7F7;
	display: block;
}

#laptop{
	width: 647px;
	height: 265px;	
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	z-index: 1;
} 
#laptop>div{		
	padding: 12px 12px;
	display: block;
	float: left;
}
#laptop #name{
	width: 444px;
	height: 241px;
	border-right: 1px solid black;

}
#laptop #coin{
	width: 150px;
	padding-left: 12px;
}
#laptop ul li{
	display: inline-block;
	width: 139px;
	height: 30px;
}
#laptop h3{
	font-family: nunito;
	margin: 4px auto;
}
#laptop #sub-menus li:hover a{
	color: #B1AFAF;
}
#laptop ul{
	list-style: none;
}
#laptop a{
	text-decoration: none;
	color: black;
	font-family: arial;
}


/*linhkien*/

#main-menu ul#sub-menu{
	position: absolute;
	background-color: #FCF7F7;
	padding: 10px 0px;
	list-style: none;
	width: 200px;
	display: none;	
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	z-index: 1;
}
#main-menu #sub-menu>li>a{
	text-decoration: none;
} 
#main-menu li:hover ul#sub-menu{
	display: block;
}
#main-menu #sub-menu li{
	border-bottom: 1px solid red;		
	padding: 8px 12px;
}
#main-menu #sub-menu a{
	color: black;
	font-family: arial;
	padding: 8px 12px;
}
#main-menu #sub-menu li:hover{
	border-bottom: 1px solid greenyellow;

}
#main-menu #sub-menu li:last-child{
	border: none;
}
#s1.has-child::after{
	content: "\f907";
}