*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #FCF7F7;
}
#theader{
	height: 66px;
	display: flex;
}
img{
	width: 66px;
	height: 66px;
}
#logo{
	flex: 2;	
	border: 1px solid red;
}
#search{
	flex: 5;
	border: 1px solid red;
	align-items: center;
	align-content: center;
	align-self: center;
}
#search>input{
	padding: 0px 5px;
	height: 100%;
	border-radius: 5px;
}
#search>button{
	height: 50px;
	width: 50px;
	align-items: center;
	align-content: center;
	color: rgb(37, 27, 27);
	size: 50;
}
#cart{
	flex: 3;
	border: 1px solid red;
}