*{
	margin: 0;
	padding: 0;
}
body{
	background-color: whitesmoke;
}
#container{
	max-width: 960px;
	margin: 0px auto;
	height: auto;
}
header{
	background-color: black;

}
nav{
	display: flex;
	justify-content: space-between;
	justify-items: center;
}
#main-menu{
	display: flex;
	list-style: none;
}
#main-menu li{
	position: relative;
}
#main-menu li a{
	color: white;
	display: block;
	padding: 10px 10px;
	text-decoration: none;
}
#main-menu ul#sub-menu{
	position: absolute;
	background-color: lightyellow;
	padding: 10px 0px;
	list-style: none;
	width: 200px;
	display: none;
}
#main-menu li:hover ul#sub-menu{
	display: block;
}

#main-menu #sub-menu a{
	padding: 8px 15px;
	border-bottom: 1px solid red;
	color: black;
}
#main-menu #sub-menu li:hover a{
	border-bottom: 1px solid greenyellow;

}
#main-menu #sub-menu li:last-child a{
	border: none;
}